/*=====================================
=============DIGGING TOOLBAR SEARCH==========
====================================*/

.digging-toolbar-search {
  padding: 0 1rem;
  justify-items: center;

  font-size: 1.6rem;
}

.digging-toolbar-search .input-for-search {
  background-color: transparent;
  padding: 0 1rem;
  margin-left: 1.5rem;
  border: 1px solid var(--contrast);
  color: var(--contrast);
}
