/*=========================================
=============DIGGING TOOLBAR==========
===============================================*/

.digging-toolbar {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(4, auto);
  grid-template-areas: "category sort search submit";

  place-items: center;

  padding: 2rem 0;

  border-bottom: 2px solid var(--accent);
}

.digging-toolbar .div-for-select-category {
  grid-area: category;
}

.digging-toolbar .digging-toolbar-sort {
  grid-area: sort;
  flex-wrap: nowrap;
}

.digging-toolbar .digging-toolbar-search {
  grid-area: search;
}

.digging-toolbar .input-submit {
  grid-area: submit;
  padding: 0.5rem 1rem;
}
