/*=========================================
=============PAGE FORGOT RESET==========
===============================================*/
.page-forgot-reset {
  border: 1px solid aqua;
}

.page-forgot-reset .form-forgot-reset {
  width: 50%;
}

.page-forgot-reset .form-container {
  justify-content: center;
  border: 1px solid aqua;
}

.page-forgot-reset .section-title {
  justify-self: flex-start;
}
