/*=========================================
=============DIGGING TOOLBAR SORT==========
===============================================*/

.digging-toolbar-sort {
  place-items: center;
  justify-content: space-evenly;

  font-size: 1.6rem;

  padding: 0rem 2rem 0 3rem;

  border-right: 1px solid var(--contrast);
  border-left: 1px solid var(--contrast);
}

/*--------------RADIOS-------------------*/
fieldset.digging-toolbar-sort {
  border: none;
  padding: 1rem 0 1rem 2rem;
  border-left: 1px solid var(--accent);
}

fieldset.digging-toolbar-sort .legend-container {
  padding-right: 1rem;
}

fieldset.digging-toolbar-sort .radio-container {
  padding: 0.5rem 0 0.5rem 1rem;
  place-content: center;
  place-items: center;
}

fieldset.digging-toolbar-sort .radio-container input[type="radio"] {
  width: 2.2rem;
  height: 2.2rem;
  accent-color: var(--accent);
  margin-right: 1rem;
}
