/*=========================================
=============MODAL DEFAULT TEXT==========
===============================================*/

/*--------------CONTAINER-------------*/
.modal-default-text {
  display: flex;
  place-content: center;
  place-items: center;

  text-align: center;

  border-radius: 10px;
}

.modal-default-text.bold {
  font-weight: bold;
}

.modal-default-text.bg-main {
  background-color: var(--main);
}

.modal-default-text.bg-contrast {
  background-color: var(--contrast);
}

.modal-default-text.bg-accent {
  background-color: var(--accent);
}

/*--------------CONTENT-------------*/
.modal-content {
  padding: 2.5rem;
  margin: 2rem;
}

/*----------FRAME-----------*/
.modal-default-text .frame {
  width: 100%;
  margin: 2rem;
  border-top-width: 1px;
  border-bottom-width: 1px;

  border-top-style: solid;
  border-bottom-style: solid;
}

.modal-default-text.color-main .frame {
  border-top-color: var(--main);
  border-bottom-color: var(--main);
}

.modal-default-text.color-contrast .frame {
  border-top-color: var(--contrast);
  border-bottom-color: var(--contrast);
}

.modal-default-text.color-accent .frame {
  border-top-color: var(--accent);
  border-bottom-color: var(--accent);
}
