/*=====================================
=============LINK DISPLAY NAME==========
====================================*/
.link-of-display-name {
  font-family: "Amaranth", sans-serif;
  text-decoration: none;
  color: inherit;
}

.link-of-display-name.small {
  font-size: 1.8rem;
}

.link-of-display-name.medium {
  font-size: 2.4rem;
}

.link-of-display-name.large {
  font-size: 4.4rem;
}
