/*=========================================
=============ARTICLE VIEWING DETAILS==========
===============================================*/
.article-viewing-details {
  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;

  background-color: var(--contrast);
}

.this-article-details {
  color: var(--main);
  padding-top: 2rem;
}

.this-article-details details {
  padding-bottom: 2rem;
}

.this-article-details details .keywords-container {
  flex-wrap: wrap;
}

.this-article-details .references-list {
  padding: 1rem 3rem;
}

.this-article-details .references-list li {
  padding-bottom: 1.5rem;
}

.author-details {
  padding: 1rem 0;
}

.author-details .user-photo img {
  max-width: 90%;
  max-height: 90%;

  /* object-fit: cover; */
}

.to-author-page {
  padding: 0 1rem;
}

.to-author-page * {
  padding-top: 0.5rem;
}
