/*=========================================
===================MASTHEAD===================
===============================================*/
.masthead {
  place-content: center;
  place-items: center;

  padding-bottom: 2rem;
}
