/*=========================================
=============TEXT ARTICLE'S SUBHEADLINE==========
===============================================*/
.article-subheadline {
  font-family: "B612", sans-serif;
}

.article-subheadline.bold {
  font-weight: bold;
}

.article-subheadline.smaller {
  font-size: 1.8rem;
}

.article-subheadline.small {
  font-size: 2.2rem;
}

.article-subheadline.medium {
  font-size: 2.6rem;
}

.article-subheadline.large {
  font-size: 3rem;
}
