/*====================================================
=============BUTTON CAROUSEL NEXT & PREVIOUS==========
======================================================*/
.button-carousel-move {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: transparent;
  border: none;

  font-size: 2rem;

  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.button-carousel-move:hover {
  cursor: pointer;
}

.button-carousel-move.next:hover {
  transform: translateX(4px);
}

.button-carousel-move.previous:hover {
  transform: translateX(-4px);
}

.button-carousel-move.next:active,
.button-carousel-move.previous:active {
  color: var(--main);
  background-color: var(--contrast);
}

.button-carousel-move .content {
  font-size: 1.4rem;
  padding: 0 0.5rem;
}
