/*=========================================
=============PAGE PROFILE EDIT==========
===============================================*/
.page-profile-edit {
}

.form-container {
  place-content: center;
}

.form-container .left-side {
  align-self: center;
}

.form-container .left-side .input-file-custom {
  margin-top: 3rem;
  width: max-content;
  align-self: center;
}

.form-container .right-side {
  padding-left: 2rem;
  margin-left: 4rem;
  border-left: 1px solid var(--contrast);
}

.form-container .right-side .form-profile.private-data {
  margin-top: 2rem;
}

.page-profile-edit .button-container {
  align-self: center;
  margin: 5rem 0;
}
