/*=========================================
=============DIGGING TOOLBAR SORT==========
===============================================*/

.digging-toolbar-sort {
  place-items: center;
  justify-content: space-evenly;

  font-size: 1.6rem;

  padding: 0rem 2rem 0 3rem;

  border-right: 1px solid var(--contrast);
  border-left: 1px solid var(--contrast);
}

/*--------------RADIOS-------------------*/
fieldset.digging-toolbar-sort {
  border: none;
  margin: 2rem 0;
  padding: 0 1rem;
}

fieldset.digging-toolbar-sort .radio-container {
  padding: 1rem 0;
}

fieldset.digging-toolbar-sort .radio-container input[type="radio"] {
  width: 3rem;
  height: 3rem;
  accent-color: var(--accent);
  margin-right: 1rem;
}
