/*=========================================
=============ACCESS LOGIN REGISTER==========
===============================================*/
.access-login-register-container {
  padding-left: 1rem;
  border-left: 5px solid var(--accent);
}

.access-login-register {
  background-color: var(--contrast);
  color: var(--main);

  padding: 2rem;
}

.link-access-login,
.link-access-register {
  font-weight: bold;
  color: var(--accent);
  background-color: var(--main);
  text-decoration: none;

  padding: 0.5rem;
}

/*---------HOVER------------*/
.link-access-login:hover,
.link-access-register:hover,
.link-access-login:active,
.link-access-register:active {
  background-color: transparent;
  color: var(--main);
  border-bottom: 1px solid var(--main);
}
