/*=========================================
=======================LOGO===================
===============================================*/
.logo.small {
  font-size: 3rem;
}
.logo.medium {
  font-size: 5rem;
}

.logo.large {
  font-size: 20rem;
}
