/*=========================================
=============PAGINATION==========
===============================================*/

.pagination {
  place-content: center;
  place-items: center;
}

.pagination button {
  cursor: pointer;

  padding: 0.5rem 1rem;
  background-color: transparent;

  color: var(--contrast);
  font-family: "B612", sans-serif;
  font-size: 1.8rem;
}

.pagination .previous,
.pagination .next {
  border: none;
  border: 1px solid var(--contrast);
  border-radius: 3px;
}

.pagination .button-page-container {
  justify-content: space-between;
  width: max-content;
  padding: 0 5rem;
}

.pagination .button-page {
  width: 50px;
  height: 50px;

  margin: 0 0.5rem;
  border-radius: 50%;
  border: none;

  border-right: 1px solid var(--contrast);
  border-bottom: 1px solid var(--contrast);
}

/*-------------------HOVER------------*/
.pagination button:hover,
.pagination button:active {
  background-color: var(--accent);
  color: var(--main);
}
