/*=========================================
============={THIS COMPONENT'S NAME}==========
===============================================*/

.page-register-verified .back-home {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  border-bottom: 1px solid var(--contrast);
}

.page-register-verified .back-home:hover,
.page-register-verified .back-home:active {
  background-color: var(--contrast);
  color: var(--main);
}
